{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def next_crontab_exec(crontab_time: str, current_time_str: str) -> list[str]:
    # your code here
    return []
{% endblock start %}

{% block example %}
print('Example:')
print(next_crontab_exec("* * * * *", "2025-03-03T14:30"))
{% endblock %}

# These "asserts" are used for self-checking
{% block tests %}
{% for t in tests %}
assert {% block call %}next_crontab_exec({{t.input|p_args}})
{% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("The mission is done! Click 'Check Solution' to earn rewards!")
{% endblock final %}
